@{
    ViewBag.Title = "Home Page";
}

<form action="~/Home/CreateNewModel" method="post">

    <table>
        <tr>

            <td>
                Id：<input type="text" name="id" />
            </td>
        </tr>
        <tr>
            <td>
                宽度：<input type="text" name="width" />
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" value="提交" />
            </td>
        </tr>
    </table>

</form>